* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Montserrat', sans-serif;
}


/* struttura */
 
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 90px;
    width: 50px;
    background-color: black;
    z-index: 10;
}

.contents {
    position: fixed;
    top: 0;
    right: 0;
    left: 50px;
    bottom: 90px;
    background-color: #141922;
    overflow-y: auto;
    padding-top: 100px;
}

.controls {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 90px;
    background-color: #282828;
    z-index: 10;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

@media (min-width: 553px) {
    .sidebar {
        width: 230px;
    }

    .contents {
        left: 230px;
    }
}


/* SIDEBAR  */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .55rem;
    color: #6C6C6C;
}

.sidebar .container-sidebar-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.profile-img {
    background-color: #ababab;
    border-radius: 50%;
}

.sidebar .container-sidebar-fullscreen {
    display: none;
}

@media (min-width: 553px) {
    
    .sidebar .container-sidebar-img {
        display: none;
    }

    .sidebar .container-sidebar-fullscreen {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .container-sidebar-fullscreen .fullscreen-top-logo {
        height: 90px;
    }

    .container-sidebar-fullscreen .fullscreen-top {
        height: calc(100% - 90px - 90px);
        width: 100%;
    }

    .container-sidebar-fullscreen .fullscreen-bottom {
        height: 100px;
    }

    .fullscreen-top, .fullscreen-bottom {
        display: flex;
        flex-direction: column;
    }
    
    .fullscreen-top div, .fullscreen-bottom div {
        display: flex;
        align-items: center; 
        width: 100%;
    }
    .fullscreen-top img, .fullscreen-bottom img {
        width: 20%;
    }

    .fullscreen-top .playlist {
        padding-top: 1rem;
        line-height: 2em;
    }

    .fullscreen-top .playlist li {
        list-style: none;
    }

    .fullscreen-top .playlist .title-playlist {
        color: white;
    }

    .fullscreen-top .playlist i {
        font-size: 2em;
        height: auto;
        background-color: #6C6C6C;
        color: black;
    }

    .fullscreen-bottom .profile-name {
        color: white;
        border-top: 2px solid #6C6C6C;
        margin-top: 10px;
        padding: 10px;
    }

    .profile-img {
        background-color: #ababab;
        border-radius: 50%;
    }

    /* HOVER_SIDEBAR */

    .fullscreen-top div:hover,
    .fullscreen-top .playlist li:hover,
    .fullscreen-bottom div:hover,
    .fullscreen-top .playlist i:hover {
        color: white;
        cursor: pointer;
    }

    
    .container-sidebar-fullscreen .fullscreen-bottom .profile-name:hover {
        cursor: text;
    }
}

