* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Montserrat', sans-serif;
}


/* struttura */
 
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 90px;
    width: 50px;
    background-color: black;
    z-index: 10;
}

.contents {
    position: fixed;
    top: 0;
    right: 0;
    left: 50px;
    bottom: 90px;
    background-color: #141922;
    overflow-y: auto;
    padding-top: 100px;
}

.controls {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 90px;
    background-color: #282828;
    z-index: 10;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

@media (min-width: 553px) {
    .sidebar {
        width: 230px;
    }

    .contents {
        left: 230px;
    }
}


/* SIDEBAR  */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .55rem;
}

.sidebar .container-sidebar-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar .container-sidebar-img .img-bottom {
    gap: 1rem;
}

.profile-img {
    background-color: #ababab;
    border-radius: 50%;
}

.container-sidebar-fullscreen {
    display: none;
}

@media (min-width: 553px) {
    .container-sidebar-img {
        display: none;
    }

    .container-sidebar-fullscreen {
        display: inline;
    }
}

